mixin Card(PokemonCard)

    div.container
        div.card
            div.card-title=PokemonCard.name
            div.card-title-Hp=PokemonCard.Hp
            div.card-title-type
                img.card-title-type-image(src= PokemonCard.image1)
            div.card-body
                img.card-body-image(src=PokemonCard.image2)
            div.move1
                img.move1-energy(src=PokemonCard.image3)
                div.move1-name=PokemonCard.move
                div.move1-damage=PokemonCard.damage
            div.move2
                img.move2-energy(src=PokemonCard.image4)
                div.move2-name=PokemonCard.move1
                div.move2-damage=PokemonCard.damage1
            div.info
                div.info-weakness=PokemonCard.weakness
                div.info-resistance=PokemonCard.resistance
                div.info-retreat=PokemonCard.retreatcost
            div.type
                img.type-weakenss(src=PokemonCard.image)
                img.type-retreat(src=PokemonCard.image5)
            div.edit
                a(href=`/edit/${PokemonCard.id}`) Edit