mixin Form(PokemonCard, actionURL, mode, title)

    div.form-panel
        div.header= title
        form(action=actionURL method='post')
            div.form-input
                label(for='name') Name:
                input(type='text' id='name' name='name' value=PokemonCard.name)
            div.form-input
                label(for='Hp') Hp:
                input(type='text' id='Hp' name='Hp' value=PokemonCard.Hp)
            div.form-input
                label(for='Image1') Type
                input(type='text' id='Image1' name='Image1' value=PokemonCard.Image1)
            div.form-input
                label(for='Image2') Picture
                input(type='text' id='Image2' name='Image2' value=PokemonCard.Image2)
            div.form-input
                label(for='Image3') Move 1 energy:
                input(type='text' id='Image3' name='Image3' value=PokemonCard.Image3)
            div.form-input
                label(for='move') Move:
                input(type='text' id='move' name='move' value=PokemonCard.move)
            div.form-input
                label(for='damage') Damage
                input(type='text' id='damage' name='damage' value=PokemonCard.damage)
            div.form-input
                label(for='Image4') Move 2 energy:
                input(type='text' id='Image4' name='Image4' value=PokemonCard.Image4)
            div.form-input
                label(for='move1') Move1
                input(type='text' id='move1' name='move1' value=PokemonCard.move1)
            div.form-input
                label(for='damage1') Damage1
                input(type='text' id='damage1' name='damage1' value=PokemonCard.damage1)
            div.form-input
                label(for='image') weakness type
                input(type='text' id='image' name='image' value=PokemonCard.image)
            div.form-input
                label(for='image1') Retreat Cost
                input(type='text' id='image1' name='image1' value=PokemonCard.image1)
            div.button-row
                a.button.cancel(href='/') Cancel
                if (mode==='edit')
                a.button.delete(href=`/delete/${PokemonCard.id}`) Delete
                button.button.save(type='submit') Submit